html,body,#map {
	overflow:hidden;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	font-family:'Roboto',helvetica,sans-serif;
	font-weight:300;
	color:#434343;
}

.zCanvas{
	z-index:9999;
}

h1,h2,h3,h4 {
	margin:2px;
}

.input-search {
	font-size:.8em;
}

.control {
	padding:5px;
	font-size:.8em;
	vertical-align:baseline;
	font-family:'Roboto',helvetica,sans-serif;
	color:#434343;
}

.toplayer {
	border-style:ridge;
	border-width:1px;
	border-color:#000;
	position: absolute;
}

.locationtype {
    position: absolute;
    z-index:9999;
    width: auto;
    top: 20px;
    left: 520px;
	background:#838383;
}

.logowrapper {
    position: absolute;
    z-index:9999;
    width: auto;
    top: 20px;
    left: 20px;
	background:#838383;
/*	border: solid 2px black;*/
}

.logos {
	padding:15px;
	opacity:1;
	box-shadow:0 0 4px rgba(0,0,0,1);
	border:0 solid #000000;
	border-radius:3px;
	font-family:'Open Sans',sans-serif;
	font-size:21px;
	color:#fff;
	top:20px;
}

#vkLogo{
    float:left;
    background:#838383;
}

#vkLogo strong a{
    color:#fff;
}

#vbLogo {
    float:left;
    left: 20%;
	background:#454545;
}

#vbLogo strong a{
    color:#fff;
}

.top_menu {
    top: 0px;
    left: 0px;
    z-index:9999;
    overflow: visible;
	position: absolute;
	opacity:1;
	width:1px;
	height:1px;
}

.menuitems {
	position: absolute;
	opacity:1;
	width:100%;
	height:100%;
}

#viewControl {
	-moz-border-radius-topleft:25px 50px;
	border-bottom-right-radius:25px 50px;
	padding:4px;
	box-shadow:5px 5px 5px #888;
	position:absolute;
	background:#fff;
	top:-2px;
/*    height: 90px;*/
	left:-2px;
	opacity:.74;
/*    width: 340px;*/
}

#viewControlInner {
	padding:4px;
	position:relative;
	float:right;
	top:0;
	right:0;
}

.menu-panel {
	width: 300px;
}

.menu-panel ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}

.menu-panel ul li {
	margin-top: 20px;
	/* display: inline-block; 
	position:relative; */
	float: left;
	width: 100px;
	height: 100px;
	/*bottom:500px; */
	opacity:0.8;
	background: #ffbaba;
	box-shadow:0 0 6px rgba(0,0,0,0.90);
	/* border-radius:4px; */
	color: #ff0000;
	
	
}

#search_button {
	float:right;
}

#timeWindowBG {
	-moz-border-radius-topright:25px 50px;
	border-top-right-radius:25px 50px;
	padding:4px;
	position:absolute;
	background:#fff;
	bottom:-2px;
	left:-2px;
	opacity:.7;
	height:205px;
	width:800px;
}

#waitWindow {
	-moz-border-radius-topright:25px 50px;
	-moz-border-radius-bottomright:25px 50px;
	-moz-border-radius-topleft:25px 50px;
	-moz-border-radius-bottomleft:25px 50px;
	border-top-right-radius:25px 50px;
	border-bottom-right-radius:25px 50px;
	border-top-left-radius:25px 50px;
	border-bottom-left-radius:25px 50px;
	position:absolute;
	background:#fff;
	left:50%;
/* Start with top left in the center */
	top:50%;
	margin-left:-50px;
/* Shift over half the width */
	margin-top:-50px;
/* Shift up half the height */
	opacity:.7;
	height:100px;
	width:100px;
}

#timeWindow {
	-moz-border-radius-topright:25px 50px;
	border-top-right-radius:25px 50px;
	padding:4px;
	box-shadow:5px 5px 5px #888;
	position:absolute;
	background:transparant;
	bottom:-2px;
	left:-2px;
	opacity:1;
	width:800px;
}

#infoWindowBG {
	-moz-border-radius-topleft:25px 50px;
	-moz-border-radius-bottomleft:25px 50px;
	border-top-left-radius:25px 50px;
	border-bottom-left-radius:25px 50px;
	padding:4px;
	position:absolute;
	background:#fff;
	top:-2px;
	bottom:-2px;
	right:-2px;
	opacity:.7;
	width:350px;
}

#infoWindow {
	-moz-border-radius-topleft:25px 50px;
	-moz-border-radius-bottomleft:25px 50px;
	border-top-left-radius:25px 50px;
	border-bottom-left-radius:25px 50px;
	padding:4px;
	box-shadow:5px 5px 5px #888;
	position:absolute;
	background:transparant;
	top:-2px;
	bottom:-2px;
	right:-2px;
	opacity:1;
	width:350px;
}

#infoWindow svg {
	width:340px;
}

#helpWindow {
/*    -moz-border-radius-topleft: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;*/
	-moz-border-radius-topright:25px 50px;
	-moz-border-radius-bottomright:25px 50px;
/*    border-top-left-radius: 25px 50px;
    border-bottom-left-radius: 25px 50px;*/
	border-top-right-radius:25px 50px;
	border-bottom-right-radius:25px 50px;
	padding:4px;
	box-shadow:5px 5px 5px #888;
	position:absolute;
	background:#EEE;
	top:160px;
	bottom:80px;
/*    right: 300px;*/
	left:0;
	width:400px;
	opacity:.94;
	overflow-y:scroll;
	direction:rtl;
}

.center,.center svg {
	position:absolute;
}

.center svg {
	width:60px;
	height:20px;
	padding-right:200px;
	font:10px sans-serif;
}

.center circle {
	fill:#4682b4;
	stroke:none;
/*    stroke-width: 1.5px;*/
}

.center locality {
	fill:#4682b4;
/*stroke: black; */
}

.center text {
	fill:#000;
}

.center text.base {
	stroke:#fff;
	stroke-width:1px;
}

.creators svg {
	position:absolute;
	top:-4000px;
	left:-4000px;
	width:8000px;
	height:8000px;
	opacity:1;
}

.objects svg {
	position:absolute;
	top:-4000px;
	left:-4000px;
	width:8000px;
	height:8000px;
	opacity:1;
}

.objects div {
	top:0;
	left:0;
}

div.mouseover {
	position:absolute;
	background:#000;
	background-color:rgba(0,0,0,0.5);
	border:1px solid #131313;
	color:#fff;
	padding:5px 8px;
	top:0;
	left:0;
/*	margin-top: 10px;*/
	margin-left:10px;
	display:none;
}

#map_picker select {
	background:transparent;
	width:280px;
	margin-left:-3px;
	padding:5px;
	padding-left:8px;
	font-size:small;
	color:#000;
/*font-weight: 100;*/
	border:1px solid #fff;
	height:34px;
	-webkit-appearance:none;
}

#map_picker {
	width:250px;
	height:34px;
	overflow:hidden;
	background:url(./static/imgs/arrow.png) no-repeat 96% #efefef;
}

div.about {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background:rgba(0,0,0,0.8);
	display:none;
}

.area {
	fill:#4682b4;
	clip-path:url(#clip);
}

.axis path,.axis line {
	fill:none;
	stroke:#000;
	shape-rendering:crispEdges;
}

.brush .extent {
	stroke:#fff;
	fill-opacity:.125;
	shape-rendering:crispEdges;
}

.axis .minor line {
	stroke:#777;
	stroke-dasharray:5,2;
}

/* Google Maps location search -------------------------------------------------------------------------------- */
#target {
	width:345px;
}

html,body,#map-canvas {
	height:100%;
	margin:0;
	padding:0;
}

.controls {
	opacity: 0.9;
	margin-top:19px;
	border:1px solid transparent;
	border-radius:3px 3px 3px 3px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:50px;
	outline:none;
	box-shadow:0px 2px 6px rgba(0,0,0,0.3);
}

#pac-input {
	background-color:#fff;
	font-family:Roboto;
	font-size:15px;
	font-weight:300;
	margin-left:600px;
	padding:0 11px 0 13px;
	text-overflow:ellipsis;
	width:300px;
}

#pac-input:focus {
	border-color:#4d90fe;
}

.pac-container {
	font-family:Roboto;
}

#type-selector {
	color:#fff;
	background-color:#4d90fe;
	padding:5px 11px 0;
}

#type-selector label {
	font-family:Roboto;
	font-size:13px;
	font-weight:300;
}


#menuBar{
    top:110px;
    left:20px;
  	position: absolute;

}

a:active {
    color: #0000FF;
}

#vbButton{
	background-color: #FF3C45;
	color: #FFE1E1;
	box-shadow:0px 0px 4px rgba(0,0,0,0.90);
	border:0 solid #4A4A4A;
	border-radius:4px;
	margin-left: 2px; margin-right: 2px; margin-top: 2px; margin-bottom: 5px;
    padding-left: 2px; padding-right: 2px; padding-top: 2px; padding-bottom: 2px;
}

#locButton{
	opacity: 0.9;
	background-color: #FFE1E1;
	color: #FF3C45;
	font-size: 250%;
	box-shadow:0px 0px 4px rgba(0,0,0,0.90);
	border:0 solid #4A4A4A;
	border-radius:4px;
	width: 53px;
	height: 53px;
	padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 7px;
}


#menuButton{
	opacity: 0.9;
	background-color: #FFE1E1;
	color: #FF3C45;
	font-size: 250%;
	box-shadow:0px 0px 4px rgba(0,0,0,0.90);
	border:0 solid #4A4A4A;
	border-radius:4px;
	width: 75px;
	padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 7px;
}

#menuButton:active{
	background-color:#FF3C45;
	color: #FFE1E1
}

#menuButtonSmaller{
	background-color: #FFE1E1;
	color: #FF3C45;
	font-size: 225%;
	box-shadow:0px 0px 4px rgba(0,0,0,0.90);
	border:0 solid #4A4A4A;
	border-radius:4px;
	padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 12px;
}

#menuButton:hover{
    background-image:none !important;
    background-color:#FFBEC1 !important;
}

.popover label{
    display: table;
}

.popover {
    background: #ffffff;
    max-width: 400%; /* Max Width of the popover (depending on the container!) */
    width: 202px;
    left: 76px;
}

#popoverloc.popover {
    background: #ffffff;
    max-width: 400%; /* Max Width of the popover (depending on the container!) */
    width: 202px;
    margin-top: 56px;
    left: -160px;
}

.popover.bottom .arrow:after {
    border-bottom-color: tomato;
}

svg text {
    font-family: 'Roboto',helvetica,sans-serif;
}

.bluemenuitem circle {
	fill:#4682b4;
	opacity:0.75;
}

.greenmenuitem circle {
	fill:#3EA99F;
	opacity:0.75;
}

/*####################################################*/
/* handling fonts */

@font-face {
	font-family: 'VerhalenKaartIconen';
	src:url('fonts/VerhalenKaartIconen.eot?md872l');
	src:url('fonts/VerhalenKaartIconen.eot?md872l#iefix') format('embedded-opentype'),
		url('fonts/VerhalenKaartIconen.ttf?md872l') format('truetype'),
		url('fonts/VerhalenKaartIconen.woff?md872l') format('woff'),
		url('fonts/VerhalenKaartIconen.svg?md872l#VerhalenKaartIconen') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'VerhalenKaartIconen';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-Kwispel:before {
	content: "\e806";
	color: rgb(0, 0, 0);
}
.icon-Kwispel .path2:before {
	content: "\e807";
	margin-left: -1.0986328125em;
	color: rgb(74, 74, 74);
}
.icon-Kwispel .path3:before {
	content: "\e808";
	margin-left: -1.0986328125em;
	color: rgb(74, 74, 74);
}
.icon-Kwispel .path4:before {
	content: "\e809";
	margin-left: -1.0986328125em;
	color: rgb(74, 74, 74);
}
.icon-Kwispel .path5:before {
	content: "\e80a";
	margin-left: -1.0986328125em;
	color: rgb(74, 74, 74);
}
.icon-Kwispel .path6:before {
	content: "\e80b";
	margin-left: -1.0986328125em;
	color: rgb(74, 74, 74);
}
.icon-Kwispel .path7:before {
	content: "\e80c";
	margin-left: -1.0986328125em;
	color: rgb(76, 70, 59);
}
.icon-Exempel .path1:before {
	content: "\e80d";
	color: rgb(0, 0, 0);
}
.icon-Exempel:before {
	content: "\e80e";
	margin-left: -0.716796875em;
	color: rgb(74, 74, 74);
}
.icon-Limerick:before {
	content: "\e80f";
}
.icon-Type:before {
	content: "\e803";
}
.icon-Collector:before {
	content: "\e804";
}
.icon-Language:before {
	content: "\e601";
}
.icon-Subgenre:before {
	content: "\e603";
}
.icon-Tag:before {
	content: "\e605";
}
.icon-Broodjeaap:before {
	content: "\e604";
}
.icon-Sprookje:before {
	content: "\e802";
}
.icon-book2:before {
	content: "\e801";
}
.icon-book3:before {
	content: "\f007";
}
.icon-Mop:before {
	content: "\e9e9";
}
.icon-Verhalenkaart:before {
	content: "\e025";
}
.icon-Legende:before {
	content: "\e606";
}
.icon-Sage:before {
	content: "\e602";
}
.icon-Personal_narrative:before {
	content: "\e810";
}
.icon-book:before {
	content: "\e800";
}
.icon-Info:before {
	content: "\e2a2";
}
.icon-Raadsel:before {
	content: "\e30f";
}
.icon-Mythe:before {
	content: "\f084";
}
.icon-Lied:before {
	content: "\e805";
}
.icon-Personal:before {
	content: "\e811";
}
.icon-Pacman:before {
	content: "\e444";
}
